################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# .NET build output
bin/
obj/

# Visual Studio
.vs/

# React frontend
node_modules/
dist/

# OS junk
.DS_Store
Thumbs.db
